.card1{
text-align:center;
background-image:url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F564x%2F6d%2F64%2Fd3%2F6d64d339f8162ee1ba09e8b1ab65f300.jpg&imgrefurl=https%3A%2F%2F");


background-size: 100% 100%;
background-repeat:none;

border-radius:20px;
margin:10px;
overflow: hidden;
position:relative;
}

